<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disease</title>
</head>
<body>
<h1><b><center>{{ result }}</center></b></h1>
{% if result == "Plague" %}
<p><center>No effective vaccine is available, but scientists are working to develop one. Antibiotics can help prevent infection if you're at risk of or have been exposed to plague. Take the following precautions if you live or spend time in areas where plague outbreaks occur:

Rodent-proof your home. Remove potential nesting areas, such as piles of brush, rock, firewood and junk. Don't leave pet food in areas that rodents can easily access. If you become aware of a rodent infestation, take steps to control it.
Keep your pets free of fleas. Ask your veterinarian which flea-control products will work best.
Wear gloves. When handling potentially infected animals, wear gloves to prevent contact between your skin and harmful bacteria.
Use insect repellent. Closely supervise your children and pets when spending time outside in areas with large rodent populations. Use insect repellent.</center></p>
{% endif %}


{% if result == "Calf Pneumonia" %}
<p><center><b>It can be difficult to control pneumonia when calves are placed in communal pens. Improved husbandry, ventilation and good nursing care can all reduce risks of pneumonia, as well as ensuring that young animals receive appropriate amounts of colostrum within the first 24 hours of birth.

Colostrum: : All calves must have one gallon of colostrum within four to six hours of birth to receive adequate immunity. Calves that are not given enough antibodies at birth are at increased risk for pneumonia and scours throughout the entire growing period. The most important step in any calf health-management programme is a successful colostrum-management programme.

Ventilation: Often if ammonia can be smelled it is a sign of poor ventilation.

Nutrition: Feeding calves inadequately will reduce calf growth and their immune system response.

Vaccination: Vaccines are available to reduce risk of infection, however they must be used alongside an effective management programme.
 </b></center></p>

{% endif %}


{% if result == "Liver Fluke" %}
<p><center><b>Monitoring the levels of infection in sheep and cattle using fluke egg counts, abattoir returns and veterinary investigation of ill-thrifty animals is an essential part of successful control.
"liver fluke" </b></center></p>
{% endif %}


{% if result == "Listeriosis" %}
<p><center><b> The risk of listeriosis can be lowered by feeding good quality silage with a low pH.

Avoid spoiled or moldy silage and silage from the top layer (few inches) which has been exposed to air. Any leftover silage should be removed from the feedbunk after feeding.

Rodent control will prevent spread of bacteria.

Vaccines are available in some countries, however results are questionable, which leads to questions about the cost-benefit of vaccination.
"listreo"

Treatment
Infected animals should be isolated from other animals.

Listeriosis is treated with antibiotics; depending on the form of the disease, treatment may take up to six weeks or more.

High doses are required because of the difficulty in achieving minimum bactericidal concentrations in the brain. Recovery depends on early, aggressive antibiotic treatment. If signs of encephalitis are severe, death usually occurs despite treatment.</b></center></p>
{% endif %}


{% if result == "Lead Poisoning" %}
<p><center><b> check your fields and barns for vehicle batteries, building materials, flaking lead paint, putty, lead flashing;
remove or fence off fly-tipped material;
prevent access to burnt out cars and old machinery that might contain lead;
prevent cattle access to bonfire ash.
"lead poisoning "</b></center></p>
{% endif %}

{% if result == "fog Fever" %}
<p><center><b>Treatment
There is no specific treatment for fog fever. Mild cases may recover without treatment.

Most severely affected cattle will not respond to any treatment and will die within a day or two.

Removing cows from pasture has not been scientifically proven to reduce cases. Some believe it prevents further cases, whilst others believe that moving sick animals can make the disease worse.

Prevention
Limiting time grazing in the first 10 days when cattle are moved to a new pasture will reduce the chances of cattle falling ill.

Allowing cattle to graze a couple of hours a day and building this up is advisable.

It is also thought that feeding monensin or chlortetracycline for the first 10 days can help control the situation.

Prevention is important as it is common for 50 per cent of a herd to become ill, and up to 30 per cent may die.

FOG FEVER </b></center></p>
{% endif %}

{% if result == "Foot rot" %}
<p><center>One of the easiest ways to prevent foot rot is to manage the cattle in a clean, dry environment to minimize the mud exposure, Larson said. He also added that some producers advocate including iodine in the mineral mixes or as a feed supplement.

Foot rot
TREATMENT
Foot rot is easy to treat, however. “It responds well to most antibiotics if treated early. People use tetracyclines, penicillin, naxcel, ceftiofur, Nuflor, or Draxxin, because they are all labeled for foot rot. People generally choose the long-lasting ones so they don't have to treat the animal again.</center></p>
{% endif %}

{% if result == "foot and mouth" %}
<p><center><b>Treatment
Treatment is not given. Affected animals will recover. However because of the loss of production and the infectious state of the disease, infected animals are usually culled.

Prevention
FMD is one of the most difficult animal infections to control. Because the disease occurs in many parts of the world, there is always a chance of its accidental introduction into an unaffected country.

Export restrictions are often imposed on countries with known outbreaks.

FMD outbreaks are usually controlled by quarantines and movement restrictions, euthanasia of affected and in-contact animals, and cleansing and disinfection of affected premises, equipment and vehicles.

Infected carcasses must be disposed of safely by incineration, rendering, burial or other techniques. Milk from infected cows can be inactivated by heating to 100°C (212°F) for more than 20 minutes. Slurry can be heated to 67°C (153°F) for three minutes.

Rodents and other vectors may be killed to prevent them from mechanically disseminating the virus.

Good biosecurity measures should be practiced on uninfected farms to prevent entry of the virus.</b></center></p>
{% endif %}

{% if result == "Wooden Tongue" %}
<p><center><b>Treatment
It is important to begin treatment early, as advanced cases may fail to respond. The most common treatments are iodine therapy or tetracyclines. Advanced cases may require surgical drainage and irrigation with iodine solution for several days. Treated animals should be observed regularly, as relapses can occur.

Prevention
There are no vaccines available to treat this disease. Control is best achieved by early recognition and prompt treatment or cases, isolation or disposal of infected animals is recommended.</b> </center></p>
{% endif %}

{% if result == "Leptospirosis" %}
<p><center><b>Leptospirosis is generally treated with antibiotics and supportive care. When treated early and aggressively, the chances for recovery are good but there is still a risk of permanent residual kidney or liver damage.</b></center></p>
{% endif %}

{% if result == "Bracken Poisoning" %}
<p><center><b>Treatment
There is no specific treatment for bracken poisoning. In acutely affected cattle, mortality is usually above 90 per cent.

Antibiotics can be used to prevent secondary infections.

Prevention
Limit access to pastures with bracken, particularly if grazing is poor. Never allow cattle access to recently ploughed land where bracken has been. Exposed rhizomes are the most dangerous part of the plant as they are attractive to cattle, particularly if they have started to reshoot.

Bracken control by burning, ploughing, reseeding and herbicide is the best method of prevention.</b></center></p>
{% endif %}

<!--{% if result== "Sleeping Disease" %}-->
<!--<p><center><b></b> </center></p>-->
<!--{% endif %}-->
<!--{% if result == "Necrotic enteritis" %}-->
<!--<p><center><b></b></center></p>-->
<!--{% endif %}-->
<!--{% if result == "Plague" %}-->
<!--<p><center><b></b></center></p>-->
{% endif %}
</body>
</html>